.carrito__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: #ebebeb;
    padding: 2rem 0;
}

.carrito__img{
    display: flex;
    flex-direction: column;    
    text-align: start;    
    align-items: start;
}

.carrito__img a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: var(--first-color);
    align-self: start;
    align-items: start;
    padding: 5px 0;
}

.carrito__img img{
    align-self: center;
}

.carrito__img a:hover{
    opacity: 0.5;
}

.carrito__producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    max-width: 90%;
    background-color: #FFF;
}

.carrito__span__precio{
    font-weight: 800;
    color: green;
    white-space: nowrap;
}

.carrito__close{
    height: 100%;
    display: flex;
    align-items: start;
    align-self: normal
}

.carrito__precio{
    margin: auto;
    margin-right: 0;
    padding-right: 0.5rem;
    text-align: end;
}

.carrito__acciones{
    margin: 1rem 0;
}