.carrito__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: #ebebeb;
    padding: 2rem 0;
}

.carrito__producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    max-width: 80vw;
    background-color: #FFF;
}

.carrito__span__precio{
    font-weight: 800;
    color: green;
}

.carrito__acciones{
    margin: 1rem 0;
}