.historial__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: #ebebeb;
    padding: 2rem 0;
}

.historial__img{
    display: flex;
    flex-direction: column;    
    text-align: start;    
    align-items: start;
}

.historial__img a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: var(--first-color);
    align-self: start;
    align-items: start;
    padding: 5px 0;
}

.historial__img img{
    align-self: center;
}

.historial__img a:hover{
    opacity: 0.5;
}

.historial__producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    max-width: 90%;
    background-color: #FFF;
}

.historial__card__date{
    font-size: 0.75rem;
}

.historial__precio{
    margin: auto;
    margin-right: 0;
    padding-right: 0.5rem;
    text-align: end;
}

.historial__span__precio{
    font-weight: 800;
    color: green;
    white-space: nowrap;
}

.historial__close{
    height: 100%;
    display: flex;
    align-items: start;
    align-self: normal
}

.historial__acciones{
    margin: 1rem 0;
}