.body__container{
    background-color: #ebebeb;
}

.main__container{
    width: 100vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;    
}

.section__producto {
    width: 100%;
    min-height: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

.producto__article, .article__atributos {
    flex-direction: row;
    padding: 1rem;
    background-color: #FFF;
}

.producto__principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.producto__img__container, .producto__img{
    width: 100%;
}

.producto__img {
    object-fit: contain;
    object-position: top;
}

.producto__data {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 100%;  
}

.producto__name {
    margin: 0.5rem 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.producto__price {
    color: green;
    margin: 1rem 0;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.section__producto__pictures{
    display: flex;
    max-width: 100vw;
    padding: 2rem 0;
    overflow-x: auto;
    border-top: 1px solid lightgrey;
}

.producto__picture{
    width: 33%;
    max-height: 25vh;
    object-fit: contain;
}

.atributo__container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
}

.atributo__name{
    font-weight: bold;
    margin: 0;
}

.atributo__value{
    opacity: 0.7;
    margin-top: 0;
}

@media screen and (min-width: 1024px){ 
    .producto__principal {     
        flex-direction: row;
    }
    
    .section__producto__pictures{
        border: 0;
    }

    .producto__img__container{
        width: 35vw;
    }

    .producto__img {
        width: 100%;        
    }

    .producto__data {
        justify-content: start;
        padding: 0 2rem;
    }
    
    .producto__name, .producto__price {
        font-size: 2rem;
    }

    .atributo__container{
        flex-direction: row;
    }
}