<div class="header__container__div">
    <a class="" href="../index.html"><img class="header__logo" src="../img/logo.ico" alt="Logo"></a>
    <h1 class="header__title">UNAJ PC Store</h1>
    <a class="header__link carrito__link" href="../pages/carrito.html"><img src="../img/icons/logo_carrito.png" alt="Logo">
        <span id="cantidad-tooltip" class="cantidad-tooltip"></span>
        <span id="precio-tooltip" class="precio-tooltip"></span>
    </a>
</div>
<nav class="nav__container">
    <div class="nav__categorias">
        <h3 class="nav__title">Categorías <img src="../img/icons/down-arrow.png" width="12" alt="Down Arrow"></h3>
        <ul class="nav__list">
            <li>
                <a href="../pages/categoria.html?cat=MLA430687" class="nav__link">Notebooks y Accesorios</a>
            </li>
            <li>
                <a href="../pages/categoria.html?cat=MLA430598" class="nav__link">Almacenamiento</a>
            </li>
            <li>
                <a href="../pages/categoria.html?cat=MLA454379" class="nav__link">Periféricos de PC</a>
            </li>
            <li>
                <a href="../pages/categoria.html?cat=MLA1656" class="nav__link">Monitores y Accesorios</a>
            </li>
        </ul>
    </div>

    <div class="header__link">
        <a class="header__link" href="../pages/armado-pc.html">Armá tu PC</a>
    </div>
    
    <div class="header__link">
        <a class="header__link" href="../pages/encuesta.html">Encuesta</a>
    </div>
</nav>