<div class="header__container__div">
    <a class="" href="../index.html"><img class="header__logo" src="../img/logo.ico" alt="Logo"></a>

    <form class="header__busqueda">
        <input class="input__busqueda" type="text" id="input-busqueda">
        <button class="button__busqueda" id="button-busqueda"><img class="img__busqueda" src="../../img/icons/busqueda.png" alt="busqueda-button-image"></button>
    </form>

    <a class="header__link carrito__link" href="../pages/carrito.html"><img src="../img/icons/logo_carrito.png" alt="Logo">
        <span id="cantidad-tooltip" class="cantidad-tooltip"></span>
        <span id="precio-tooltip" class="precio-tooltip"></span>
    </a>
</div>
<nav class="nav__container">
    <div class="nav__categorias">
        <h3 class="nav__title">Categorías <img src="../img/icons/down-arrow.png" width="12" alt="Down Arrow"></h3>
        <ul class="nav__list" id="lista-categorias">
            <!-- GetCategorias -->
        </ul>
    </div>

    <div class="header__link nav__desktop">
        <a class="header__link" href="../pages/armado-pc.html"><img src="../img/icons/armado.png" alt="armado-icon">Armá tu PC</a>
    </div>
    
    <div class="header__link nav__desktop">
        <a class="header__link" href="../pages/historial.html"><img src="../img/icons/historial.png" alt="historial-icon">Historial</a>
    </div>
        
    <div class="header__link nav__desktop">
        <a class="header__link" href="../pages/encuesta.html"><img src="../img/icons/encuesta.png" alt="encuesta-icon">Encuesta</a>
    </div>

    <div class="header__link nav__desktop">
        <a class="header__link" href="../pages/contacto.html"><img src="../img/icons/contacto.png" alt="contacto-icon">Contacto</a>
    </div>

    <div class="nav__mobile" id="nav-mobile">
        <h3 class="header__link"><img src="../img/icons/hamburger_icon.png" width="32" alt="nav-icon"></h3>
        <ul class="nav__list__mobile" id="lista-navigation">
            <div class="header__link">
                <a class="header__link" href="../pages/armado-pc.html"><img src="../img/icons/armado.png" alt="armado-icon">Armá tu PC</a>
            </div>
            
            <div class="header__link">
                <a class="header__link" href="../pages/historial.html"><img src="../img/icons/historial.png" alt="historial-icon">Historial</a>
            </div>
            
            <div class="header__link">
                <a class="header__link" href="../pages/encuesta.html"><img src="../img/icons/encuesta.png" alt="encuesta-icon">Encuesta</a>
            </div>
            
            <div class="header__link">
                <a class="header__link" href="../pages/contacto.html"><img src="../img/icons/contacto.png" alt="contacto-icon">Contacto</a>
            </div>
        </ul>
    </div>
</nav>